@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root {
  --primary:rgba(56, 42, 232, 0.702);
  --secondary:rgb(236 41 107 / 70%);    
    
    --pane-padding: 5px 42px;
  } 



 .square2 img{
  height: 200px;
  widtH: 300px;
}
.square2:hover .img-97 {
  transform: scale(1.2);
}
.square2 {
  overflow: hidden;
  
}


.square2 {
  height: 200px;
  widtH: 300px;
  position: relative;
 
}
.square2:before {
  content: '';
  display: block;
  position: absolute;
  height: 0%;
  width: 100%;
  bottom: 0;
  background: linear-gradient(-225deg, var(--primary) 35%,var(--secondary)100%);
  /* background: linear-gradient(to bottom, transparent 0%, black 100%); */
  z-index: 3;
}
.square2:hover:before {
  height: 100%;
}
.card1{
  width: 300px;
  border: 1px solid #6987ab;
}
.sharebtn{
 margin-top: -50px;
 display: flex;
 flex-direction: row;
}
.sharebtn.icon1 {
  margin: auto;
}
.icon1{
  padding-left:5px ;
  display: flex;
  /* justify-content: flex-end; */
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  align-items: center;
  padding: 0 10px;
}
.icon3{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 46px;
  width: 25px;
  height: 25px;
  align-content: center;
  text-align: center;
  font-size: 12px;
  font-family: "Nunito", sans-serif;
  justify-content: center;
  z-index: 4;
}
.btn{
 margin-left: 37%;
 z-index: 4;
}
.btn button{
  background-color: #f84242;
  border: 0;
  width: 95px;
  height: 35px;
  border-radius: 5px;
  color: #FFF;
}


.cardh{
  font-weight: 600;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  line-height: 22px;
  margin: 0;
  color: #2e384d;
}
.cardp{
  font-weight: 400;
  margin: 10px 0 10px 0;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  line-height: 21px;
  color: #5e748e;
}
.crdico{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-align: ; */
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
.crdico i{
  padding: 0 8px 0 0;
}
.cards2{
  padding: 5%;
}
.btn2{
  display: flex;
  justify-content: space-between;
      padding: 20px 5%;

}
.btn22{
  height: 30px;
  width: 120px;
background-color: #FFF;
  border-radius: 5px;
  /* width: 90px; */
  color:#6987ab;
  box-shadow: none;
  border: 1px solid;
  font-size: 13px;
  line-height: 23px;
  font-family: "Nunito", sans-serif;
  color: ;
}
.btn22:hover{
  background-color:#E8EBF3;
}
.btn23{
  height: 30px;
  width: 100px;
  background-color:#EC296B;
  border: 0;
  border-radius: 3px;
  font-size: 13px;
  line-height: 23px;
  font-family: "Nunito", sans-serif;
  color: #FFF;
}
















/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.card13 {
display: flex;
padding: 0 35px;
align-items: center;
justify-content: center;
/* padding-bottom: 50px; */
}
.wrapper2 {
max-width: 1100px;
width: 80%;
position: relative;
}
#left3 {
top: 50%;
height: 50px;
width: 50px;
cursor: pointer;
font-size: 1.25rem;
position: absolute;
text-align: center;
line-height: 50px;
background: #fff;
border-radius: 50%;
box-shadow: 0 3px 6px rgba(0,0,0,0.23);
transform: translateY(-50%);
transition: transform 0.1s linear;

}
#right3 {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: "Nunito", sans-serif;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  
}
.wrapper2 i:active{
transform: translateY(-50%) scale(0.85);
}
.wrapper2 i:first-child{
left: -22px;
}
.wrapper2 i:last-child{
right: -48px;
}
.wrapper2 .carousel2{
display: grid;
grid-auto-flow: column;
grid-auto-columns: calc((100% / 3) - 4px);
overflow-x: auto;
scroll-snap-type: x mandatory;
gap: 18px;
/* border-radius: 8px; */
scroll-behavior: smooth;
scrollbar-width: none;
}
.carousel2::-webkit-scrollbar {
display: none;
}
.carousel2.no-transition {
scroll-behavior: auto;
}
.carousel2.dragging {
scroll-snap-type: none;
scroll-behavior: auto;
}
.carousel2.dragging .card2 {
cursor: grab;
user-select: none;
}
/* .carousel :where(.card, .img) {
display: flex;
justify-content: center;
align-items: center;
} */
.carousel2 .card2 {
scroll-snap-align: start;
height: 500px;
width: 300px;
list-style: none;

cursor: pointer;
/* padding: 20px; */
/* flex-direction: column; */
/* border-radius: 5px; */
  /* border: solid; */
  /* border-width: 1px; */
  /* border-color: #4b5d73; */
  
}
/* .carousel .card .img {
height: 148px;
width: 148px;
border-radius: 50%;
} */
/* .card .img img {
width: 100px;
height: 100px;
border-radius: 50%;
object-fit: cover;
border: 4px solid #fff;
} */
/* .carousel .card h2 {
font-weight: 400;
font-size: 14px;
line-height: 21;
margin: 30px 0 5px;
} */
/* .carousel .card span {
  font-weight: 400;
  font-size: 14px;
  line-height: 21;
  background-color: #EC296B;
  color: #fff;
  padding-top: 2px;
} */
/* .numbr {
  height: 25px;
  width: 35px;
  text-align: center;
  border-radius: 50px;
} */

@media screen and (max-width: 900px) {
.wrapper2 .carousel2 {
  grid-auto-columns: calc((100% / 2) - 9px);
}
}

@media screen and (max-width: 600px) {
.wrapper2 .carousel2 {
  grid-auto-columns: 100%;
}
}

